@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body{
    background-color: #F2F2F2;
    font-family: "Space Grotesk", sans-serif;
}
.title{
    text-align: center;
    color: #4480d0;
}
.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}
input,label{
    width: 50%;
}
input{
    border: gray solid 1px;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
}
.btn{
    width: 50%;
    height: 40px;
    border-radius: 4px;
    border: none;
    margin-top: 12px;
    cursor: pointer;
    background-image: linear-gradient(315deg, #ff8723, #ffaf28 25%, #ffaf28 50%, #ff8723);;
    color: #fff;
    font-size: 18px;
}
input[type="submit"]:hover{
    transform: translate(0, -2px);
}
table{
    margin: auto;
    margin-top: 24px;
    background-color: transparent;
}
thead{
    background-color: #B027F5;
    color: #fff;
}
.action-button{
    border: none;
    background-color: #f5516f;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
    color: black;
}
.update-button{
    background-color: gold;
}
button[name="delete"]:active,button[name="update"]:active{
    border: solid 2px black;
}
span {
    background-color: aquamarine;
    color: black;
    padding: 4px;
    margin-top: 12px;
}
span1 {
    background-color: #f5516f;
    color: #fff;
    padding: 4px;
    margin-top: 12px;
}